#root {
  max-width: 2800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
}

.thumbnail-image {
  width: 250px;
  height: 250px;
  object-fit: cover; /* Ensures the image maintains its aspect ratio and covers the entire area */
}

.title {
  padding: 2em;
  color: floralwhite;
}

.thumbnails {
  max-width: fit-content;
  display: flex;
  flex-direction: row;
  padding: 1.5em;
  align-content: center;
  object-fit: contain;
  align-items: space-evenly;
}

.thumbnail {
  display: flexbox;
  flex-direction: row;
  align-items: space-evenly;
  height: 3em;
  width: auto;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  object-fit: contain;
}
.thumbnail:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.thumbnail.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.icon {
  position: relative;
  float: right;
  color-scheme: blue;
}
